/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


html {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
 
  body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
      margin: 0;
      padding: 0;
      font-family: 'Fraunces', sans-serif;
      height: 100%;
      font-weight: 400;
      font-size: 16px;
  }
  
  main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  img {
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    -o-object-fit: cover;
       object-fit: cover;
  }


.container{
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 20px;
}

.site__header{
    padding-top: 32px;
    padding-bottom: 30px;
    background-color: #4abdf2;
}

.header__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.header__btn{
    width: 24px;
    height: 18px;
    background-color: transparent;
    background-image: url("../images/menu.svg");
    border: transparent;
}

.site-header__wrapper{
    display: none;
}

@media only screen and (min-width:576px){
    .header__btn{
        display: none;
    }

    .site-header__wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .nav__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 37px;
        margin-right: 20px;
        list-style-type: none;
    }

    .nav__link{
        color: #FFF;
        font-family: "Barlow Condensed";
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.129px;
        text-decoration: none;
    }

    .header__link{
        display: inline-block;
        width: 140px;
        text-align: center;
        text-decoration: none;
        background-color: #fff;
        border-radius: 50px;
        padding: 16px 0;
        color: #24303E;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.107px;
    }
}

@media only screen and (min-width:700px) {
    .site-header__logo{
        width: 170px;
        height: 33px;
    }
    .nav__list{
        gap: 47px;
        margin-right: 47px;
    }

}

.site__main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.hero{
    padding-top: 88px;
    padding-bottom: 188px;
    background-image: url("../images/heroMobilebG.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title{
    margin: 0;
    margin-bottom: 52px;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6.25px;
    text-transform: uppercase;
}

.hero__link{
    display: block;
    width: 30px;
    margin: 0 auto;
    -webkit-animation-name: heroLink;
            animation-name: heroLink;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes heroLink {
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    50%{
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
    }

    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes heroLink {
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    50%{
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
    }

    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@media only screen and (min-width:491px) {
    .hero__title{
        font-size: 56px;
        line-height: 69px;
    }
}

@media only screen and (min-width:576px) {
    .hero{
        padding-top: 105px;
        padding-bottom: 331px;
        background-image: url("../images/herobG.png");
    }

    .hero__title{
        font-weight: 900;
        letter-spacing: 8.75px;
        text-align: center;
    }
}


.services__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.services__item{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.image{
    width: 100%;
}

.services__image{
    width: 100%;
    height: auto;
}

.services__wrapper{
    width: 100%;
    padding: 64px 24px;
}

.services__title{
    margin: 0;
    color: #24303E;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: -0.229px;
}

.services__text{
    margin: 24px 0 32px 0;
    color: #808397;
    text-align: center;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.129px;
}

.services__link{
    display: inline-block;
    color: #24303E;
    font-size: 15px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.services__link::before{
    left: -10%;
    bottom: 2px;
    width: 120%;
    height: 10px;
    background-color: #fad400;
    opacity: 0.25;
    border-radius: 50px;
    content: "";
}

.services__link--second::before{
    background-color: #fe7766;
}

.services__link::before:hover{
    opacity: 1;
}

@media only screen and (min-width:740px) {
    .services__item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }

    .services__item:nth-child(2){
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .services__image, .services__wrapper{
        width: 50%;

    }

    .services__wrapper{
        padding-top: 0;
        padding-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .image{
        width: 100%;
        height: auto;
    }
    
}

@media only screen and (min-width:1120px){
  .services__inner{
    width: 440px;
    text-align:left;
  }

  .services__title{
    font-size: 40px;
  }
}

.fruits{
    width: 100%;
}
.fruits__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.fruits__item{
    padding: 398px 0 59px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fruits__item:nth-child(1){
    display: block;
    background-image: url("../images/cherryMobile.png");
}

.fruits__item:nth-child(2){
    display: block;
    background-image: url("../images/mandarinMobile.png");
}

.fruits__wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 327px;
    text-align: center;
}

.fruits__title{
    margin: 0;
    margin-bottom: 27px;
    color: #052C3B;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -0.2px;
}

.fruits__text{
    margin: 0;
    color: #19536C;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.114px;
}

.first{
    color: #24554A;
}

@media only screen and (min-width:480px) {
    .fruits__title{
        margin-top: 52px;
    }
}

@media only screen and (min-width:540px) {
    .fruits__title{
        margin-top: 100px;
    }
}

@media only screen and (min-width:800px) {

    .fruits__item{
        width: 50%;
    }


    .fruits__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

@media only screen and (min-width:1100px) {

    .fruits__title{
        margin-top: 0;
    }

    .fruits__item:nth-child(1){
        background-image: url("../images/cherry.png");
    }
    
    .fruits__item:nth-child(2){
        background-image: url("../images/mandarin.png");
    }
    
}

.feedback__inner{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 64px 0 86px;
}

.feedback__title{
    margin: 0;
    color: #A7AAAD;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 4px;
}

.feedback__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.feedback__item::before{
    display: inline-block;
    background-image: url("../images/author1.svg");
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    content: "";
    margin-top: 64px;
    margin-bottom: 32px;
}

.feedback__item:nth-child(2)::before{
    background-image: url("../images/author2.svg");
}
.feedback__item:nth-child(3)::before{
    background-image: url("../images/author3.svg");
}

.feedback__text-wrapper {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.feedback__text{
    margin: 0;
    margin-bottom: 32px;
    color: #5B636D;
    text-align: center;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 600;
    line-height: 32px; 
    letter-spacing: -0.129px;
}

.feedback__author {
    margin: 0;
    color: #24303E;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.129px;
}

.feedback__position {
    margin: 0;
    color: #A7AAAD;
    font-family: "Barlow";
    font-size: 14px;
    font-weight: 600;
    line-height: 25px; /* 178.571% */
    letter-spacing: -0.1px;
}

@media only screen and (min-width:1110px) {
    .feedback__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .feedback__item::before{
        margin-top: 81px;
        margin-bottom: 58px;
    }
    
   .feedback__text{
    margin-bottom: 69px;
   }
}

.picture__list{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    list-style-type: none;
}

.picture__item {
    margin: 0;
    width: 50%;
    height: auto;
}


@media only screen and (min-width:576px) {
    .picture__list{
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .pic__image{
        width: 400px;
        height: auto
    }
    
}

.site-footer{
    background-color: #90D4C6;
}

.site-footer__inner{
    padding: 72px 0;
    text-align: center;
}

.site-footer__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 57px;
    list-style-type: none;
}

.site-footer__item{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 88px;
}

.site-footer__link{
    color: #458D7E;
    font-family: "Barlow";
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px; 
    letter-spacing: -0.129px;
    text-decoration: none;
    -webkit-transition: color 0.6s ease-in;
    -o-transition: color 0.6s ease-in;
    transition: color 0.6s ease-in;
}

.site-footer__link:hover {
    color: #fff;
}

.site-footer__apps{
    color: #2C7566;
    -webkit-transition: color 0.6s ease-in;
    -o-transition: color 0.6s ease-in;
    transition: color 0.6s ease-in;
}

.site-footer__apps:hover{
    color: #fff;
}




